.ts-button {
    height: 24px;
    width: 150px;
    border: 1px solid #e6e6e6;
    background-color: #fbfbfb;
    font-size: 12px;
    margin-top: 6px;

    &:disabled {
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid #3399ff;
        background-color: #c9def5;
    }

    &:active {
        cursor: pointer;
        border: 1px solid #3399ff;
        background-color: #3399ff;
        color: #ffffff;
    }

    &:focus {
        outline-width: 0px;
    }
}